:root {
  --cartesianX: 50rem;
  --cartesianY: 50rem;
}

.plane-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cartesian-plane {
  margin: 1rem;
  position: relative;
  /* width: 100%; */
  height: var(--cartesianY);
  aspect-ratio: 1;
  border: 2px solid black;
}

.point {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #f00;
  border-radius: 50%;
}

.x-axis {
  position: relative;
  top: calc(var(--cartesianX) / 2);
  border: 0.5px solid black;
}

.y-axis {
  position: relative;
  top: calc((var(--cartesianY) / 2) - 2px);
  transform: rotate(90deg);
  border: 0.5px solid black;
}
